atomicwrites==1.4.1
attrs==21.4.0
caugetch==0.0.1
clipboard==0.0.4
colorama==0.4.5
docx2pdf==0.1.8
fpdf==1.7.2
getpass4==0.0.14.1
iniconfig==1.1.1
packaging==21.3
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.9
PyPDF2==2.5.0
pyperclip==1.8.2
pytest==7.1.2
pywin32==304
tomli==2.0.1
tqdm==4.64.0
